{% load static %}
<div class="bg-white shadow-sm" style="width: 250px; min-height: 100vh;">
    <div class="text-center">
        {% if request.user.profile_pic %}
            <img src="{{request.user.profile_pic.url}}" class="rounded-circle border mb-2" width="100" height="100" alt="Profile Image" alt="Admin Icon">
        {% else %}
            <img src="{% static 'myapp/images/admin.png' %}" class="rounded-circle h-25 w-25 mt-2" alt="Admin Icon">
        {% endif %}
        <h5>{{request.user.username}}</h5>
        <p class="text-muted">{{request.user.email}}</p>
    </div>
    <hr>
    <ul class="nav flex-column">
        
        {% if request.user.is_superuser %}
        <li class="nav-item mb-3">
            <a class="d-flex align-items-center text-decoration-none text-dark ps-3" href="{% url 'admin_dashboard' %}">
                <i class="bi bi-house-door me-2"></i> Dashboard
            </a>
        </li>

        <li class="nav-item mb-3">
            <a class="d-flex align-items-center text-decoration-none text-dark ps-3" href="{% url "update_profile" %}">
                <i class="bi bi-person me-2"></i> My Profiles
            </a>
        </li>
        <li class="nav-item mb-3">
            <a class="d-flex align-items-center text-decoration-none text-dark ps-3" href="{% url 'password_change' %}">
                <i class="bi bi-key me-2"></i> Change Password
            </a>
        </li>
        <li class="nav-item mb-3">
            <a class="d-flex align-items-center text-decoration-none text-dark ps-3" href="{% url "staff_leave" %}">
                <i class="bi bi-envelope me-2"></i> Staff Leave
            </a>
        </li>

        {% else %}

        <li class="nav-item mb-3">
            <a class="d-flex align-items-center text-decoration-none text-dark ps-3" href="{% url 'staff_dashboard' %}">
                <i class="bi bi-house-door me-2"></i> Dashboard
            </a>
        </li>

        <li class="nav-item mb-3">
            <a class="d-flex align-items-center text-decoration-none text-dark ps-3" href="{% url "apply_leave" %}">
                <i class="bi bi-person me-2"></i>Apply for leave
            </a>
        </li>
        <li class="nav-item mb-3">
            <a class="d-flex align-items-center text-decoration-none text-dark ps-3" href="{% url "leave_details" %}">
                <i class="bi bi-envelope me-2"></i>My Leave History
            </a>
        </li>

        {% endif %}

        <li class="nav-item mb-3">
            <form action="{% url 'logout' %}" method="post" class="w-100">
                {% csrf_token %}
                <button type="submit" class="btn w-100 text-start text-dark d-flex align-items-center ps-3 border-0">
                    <i class="bi bi-box-arrow-right me-2"></i> Sign Out
                </button>
            </form>
        </li>
    </ul>
</div>
