{% extends 'myapp/base.html' %}
{% block title %}Login{% endblock title %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="col-md-6 col-lg-4 p-4 bg-white shadow rounded">
        <h2 class="text-center text-primary mb-4">Login to Your Account</h2>
        <form action="" method="POST" class="needs-validation" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="alert alert-danger">{{error}}</p>
            {% endfor %}
            {% endif %}

            <!-- Email Field -->
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="you@example.com" required>
                {% if form.email.errors %}
                    <div class="text-danger ">
                        {% for error in form.email.errors %}
                            <p class="mb-0">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Password Field -->
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="••••••••" required>
                {% if form.password.errors %}
                    <div class="text-danger">
                        {% for error in form.password.errors %}
                            <p class="mb-0">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Forgot Password Link -->
            <div class="mb-3 text-end">
                <a href="{% url "password_reset" %}" class="text-primary">Forgot password?</a>
            </div>

            <!-- Login Button -->
            <button type="submit" class="btn btn-primary w-100">Sign in</button>
        </form>

        {% comment %} <!-- Divider -->
        <div class="d-flex align-items-center my-4">
            <hr class="flex-grow-1">
            <span class="mx-3 text-muted">Or</span>
            <hr class="flex-grow-1">
        </div>

        <!-- Create Account Link -->
        <div class="text-center">
            <a href="#" class="text-danger">Create an account</a>
        </div> {% endcomment %}
    </div>
</div>
{% endblock content %}
